{% extends "layouts/main.html" %}

{% block content %}

<section class="my-5">
  <div class="container">
    <h1 class="fw-bold display-5">{{ bank.bankName }}</h1>
    <p class="lead h3">Bank Url : {{ bank.linkBank }}</p>
    <div class="my-4">
      <div class="table-responsive">
        <table class="table table-vcenter border table-nowrap">
          <thead>
            <tr>
              <th colspan="2">
                <h3 class="mb-0">Basic Info</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="min-width: 110px; width: 110px;" class="bg-blue-lt">
                <strong>Hostname</strong>
              </td>
              <td>{{ hostname }}</td>
            </tr>
            {% if ipInfo != None %}
              <tr>
                <td style="min-width: 110px; width: 110px;" class="bg-blue-lt">
                  <strong>ipv4</strong>
                </td>
                <td>{{ ipInfo.ipv4 }}</td>
              </tr>
              <tr>
                <td style="min-width: 110px; width: 110px;" class="bg-blue-lt">
                  <strong>Netmask</strong>
                </td>
                <td>{{ ipInfo.netmask }}</td>
              </tr>
              <tr>
                <td style="min-width: 110px; width: 110px;" class="bg-blue-lt">
                  <strong>ipv6</strong>
                </td>
                <td>{{ ipInfo.ipv6 }}</td>
              </tr>
            {% endif %}

          </tbody>
        </table>
      </div>
    </div>

    {% if get_request != None %}
    <div class="my-4">
      <div class="table-responsive mb-5">
        <table class="table table-vcenter border table-nowrap">
          <thead>
            <tr>
              <th colspan="2">
                <h3 class="mb-0">Server Info</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for item in get_request %}
            <tr>
              <td style="min-width: 110px; width: 110px;" class="bg-blue-lt">
                <strong>{{ item|upper| replace("_", " ") }}</strong>
              </td>
              <td>{{ get_request[item] }}</td>
            </tr>
            {% endfor %}


          </tbody>
        </table>
      </div>
    </div>
    {% endif %}


    <div class="my-4">
      <div class="table-responsive mb-5">
        <table class="table table-vcenter border table-nowrap">
          <thead>
            <tr>
              <th colspan="2">
                <h3 class="mb-0">Domain Whois</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for item in whoisDomain %}
            <tr>
              <td style="min-width: 110px; width: 110px;" class="bg-blue-lt">
                <strong>{{ item|upper| replace("_", " ") }}</strong>
              </td>
              <td>{{ whoisDomain[item] }}</td>
            </tr>
            {% endfor %}


          </tbody>
        </table>
      </div>
    </div>
    <h2 class="my-4">DNS LOOKUP</h2>
    {# if a record != none #}
    {% if a_record != None %}
    <div class="my-4">
      <div class="table-responsive mb-5">
        <table class="table table-vcenter border table-nowrap">
          <thead>
            <tr>
              <th colspan="2">
                <h3 class="mb-0">A RECORD</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for item in a_record %}
            <tr>
              <td style="min-width: 110px; width: 110px;" class="bg-blue-lt">
                <strong>{{ item|upper| replace("_", " ") }}</strong>
              </td>
              <td>{{ a_record[item] }}</td>
            </tr>
            {% endfor %}


          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    {% if aaaa_record != None %}
    <div class="my-4">
      <div class="table-responsive mb-5">
        <table class="table table-vcenter border table-nowrap">
          <thead>
            <tr>
              <th colspan="2">
                <h3 class="mb-0">AAAA RECORD</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for item in aaaa_record %}
            <tr>
              <td style="min-width: 110px; width: 110px;" class="bg-blue-lt">
                <strong>{{ item|upper| replace("_", " ") }}</strong>
              </td>
              <td>{{ aaaa_record[item] }}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    {% if soa_record != None %}
    <div class="my-4">
      <div class="table-responsive mb-5">
        <table class="table table-vcenter border table-nowrap">
          <thead>
            <tr>
              <th colspan="2">
                <h3 class="mb-0">SOA RECORD</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for item in soa_record %}
            <tr>
              <td style="min-width: 110px; width: 110px;" class="bg-blue-lt">
                <strong>{{ item|upper| replace("_", " ") }}</strong>
              </td>
              <td>{{ soa_record[item] }}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    {% if cname_record != None %}
    <div class="my-4">
      <div class="table-responsive mb-5">
        <table class="table table-vcenter border table-nowrap">
          <thead>
            <tr>
              <th colspan="2">
                <h3 class="mb-0">CNAME RECORD</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for item in cname_record %}
            <tr>
              <td style="min-width: 110px; width: 110px;" class="bg-blue-lt">
                <strong>{{ item|upper| replace("_", " ") }}</strong>
              </td>
              <td>{{ cname_record[item] }}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    {% if mx_record != None %}
    <div class="my-4">
      <div class="table-responsive mb-5">
        <table class="table table-vcenter border table-nowrap">
          <thead>
            <tr>
              <th colspan="2">
                <h3 class="mb-0">MX RECORD</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for item in mx_record %}
            <tr>
              <td style="min-width: 110px; width: 110px;" class="bg-blue-lt">
                <strong>{{ item|upper| replace("_", " ") }}</strong>
              </td>
              <td>{{ mx_record[item] }}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    {% if ns_record != None %}
    <div class="my-4">
      <div class="table-responsive mb-5">
        <table class="table table-vcenter border table-nowrap">
          <thead>
            <tr>
              <th colspan="2">
                <h3 class="mb-0">NS RECORD</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for item in ns_record %}
            <tr>
              <td style="min-width: 110px; width: 110px;" class="bg-blue-lt">
                <strong>{{ item|upper| replace("_", " ") }}</strong>
              </td>
              <td>{{ ns_record[item] }}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    {% if txt_record != None %}
    <div class="my-4">
      <div class="table-responsive mb-5">
        <table class="table table-vcenter border table-nowrap">
          <thead>
            <tr>
              <th colspan="2">
                <h3 class="mb-0">TXT RECORD</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for item in txt_record %}
            <tr>
              <td style="min-width: 110px; width: 110px;" class="bg-blue-lt">
                <strong>{{ item|upper| replace("_", " ") }}</strong>
              </td>
              <td>{{ txt_record[item] }}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    {% if srv_record != None %}
    <div class="my-4">
      <div class="table-responsive mb-5">
        <table class="table table-vcenter border table-nowrap">
          <thead>
            <tr>
              <th colspan="2">
                <h3 class="mb-0">SRV RECORD</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for item in srv_record %}
            <tr>
              <td style="min-width: 110px; width: 110px;" class="bg-blue-lt">
                <strong>{{ item|upper| replace("_", " ") }}</strong>
              </td>
              <td>{{ srv_record[item] }}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    <br>
  </div>
</section>
{% endblock %}